.banner {
    background-color: #01213f;
    color: #ffffff;
    height: 460px;
    text-align: center;
    padding: 20px 20%;
}
.banner h1 {
    padding: 2%;
}
.banner_text {
    outline-style: solid;
    outline-offset: 30px;
    font-size: 30px;
    font-weight: 500;
}
.button {
    background-color: transparent;
    color: #c48b98;
    border: 4px solid #c48b98;
    font-size: 22px;
    font-weight: 500;
    margin-top: -2%;
}

@media (max-width: 600px) {
    .banner {
        height: 800px;
        padding: 2% 10%;
    }
    .banner_text {
        font-size: 15px;
        outline-offset: 15px;
        font-weight: 400;
        text-align: center;
    }
}
