.card {
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2% 25%;
}
.textContainer {
    padding: 5%;
}
.textContainerTop h3 {
    font-size: 38px;
}
.textContainerTop p {
    visibility: hidden;
}
.textContainerBottom {
    display: flex;
    margin-top: -30px;
}
.prices {
    width: 50%;
    margin-top: -5px;
}
.pricesTop {
    color: #8c8c8c;
    text-decoration: line-through;
    font-size: 28px;
}
.pricesBottom {
    font-size: 32px;
}
.textContainerBottom ul {
    padding: 0;
}
.textContainerBottom li {
    list-style-type: none;
}
.icons {
    display: flex;
}
.icons button {
    border-color: transparent;
    background-color: #ffffff;
    width: 20%;
    height: auto;
    margin: 10px;
}

@media (min-width: 1030px) {
    .card {
        display: flex;
        width: 50%;
        height: auto;
        padding: 1%;
    }
    .textContainer {
        padding: 1%;
    }
    .image {
        width: 50%;
    }
    .textContainerTop p {
        visibility: visible;
        margin-top: -40px;
    }
    .textContainerTop {
        height: 50%;
    }
    .textContainerBottom {
        text-align: center;
    }
    .icons {
        display: flex;
    }
    .icons button {
        width: 20%;
    }
}
