.container {
    display: flex;
    padding: 1%;
    background-color: #ffffff;
}
.logo {
    width: 50%;
}
.container ul {
    display: flex;
    margin-left: 30%;
    line-height: 3;
}
.links {
    list-style-type: none;
    margin-right: 20px;
}

@media (max-width: px) {
    .container {
        display: block;
    }
    .logo {
        text-align: center;
        width: 100%;
    }
    .container ul {
        display: block;
        margin-left: 0%;
        line-height: 2;
        text-align: center;
    }
    .links {
        margin-left: -20px;
    }
}
