.header {
    display: column;
    text-align: center;
    font-family: Roboto;
    background: #ffffff;
}
.links {
    display: inline-block;
    list-style-type: none;
    font-size: 22px;
    line-height: 26px;
}
.link {
    color: #1d1d1d;
    text-decoration: none;
}
