.card {
    color: red;
}
.button {
    position: relative;
    color: white;
    background-color: #c48b98;
    width: 25%;
    height: 80px;
    margin: 1% 25%;
}

@media (max-width: 1000px) {
    .button {
        margin: 1% 25%;
    }
}
